@keyframes photo{
    from{transform: translateX(110vh);}
    to {transform: translateX(0);}
}
@keyframes maincard_text {
    from{transform: translateX(110vh);}
    to {transform: translateX(0);}
}
@keyframes maincard_subtext{
    from{transform: translateX(110vh);}
    to {transform: translateX(0);}
}