body{
    background-color: grey;
}
#categories{
    display:flex;
    height: 350px;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
}

.title{
    font-size: 100px;
}
.tags{
    display: flex;
    align-items: center;
    width: 100px;
    background-color: rgb(92, 92, 92);
    height: 350px;
    color: white;
    padding-left: 20px;
    margin:0;
}
#aboutme{
    color: white;
    background-color: #272727;
    font-family: "Youtube";
}

#youtube{
    font-family: "Youtube";
    transition: all 0.3s ease;
}
#twitch{
    font-family: "Youtube";
    transition: all 0.3s ease;
}
#twitch:hover{
    color: white;
    background-color: #6441a5;
    box-shadow: 20px 0 20px #1c122e;
    width: 700px;
    font-size: 100px;
}
#youtube:hover{
    color: rgb(40 40 40);
    background-color: rgb(255, 0, 0);
    box-shadow: 20px 0 20px #8a0f0f;
    width: 700px;
    font-size: 100px;
}
.maincard{
    display: flex;
    justify-content: left;
    background-color: black;
    color: white;
    border-bottom: white solid 10px;
    margin-left: 6.4%;
}
#maincard_photo{
    height: 500px;
    border-radius: 10px;
    animation-name: photo;
    animation-duration: 2s;
}

#maincard_text{
    font-size: 100px;
    margin-left: 50px;
    animation-name: maincard_text;
    animation-duration: 2s;
}
#maincard_subtext{
    font-size: 20px;
    margin-top: 50px;
    animation-name: maincard_subtext;
    animation-duration: 2s;
}
#translation{
    margin-top: 20px;
    background-color: white;
    border: white;
    height: 30px;
    box-shadow: 0 9px #999;
}
#translation:hover{
    background-color: #8a0f0f;
    box-shadow: 0 9px #3f0707;
}
#translation:active{
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.content{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    margin-left: 6.4%;
    padding-bottom: 2%;
    background-color: black;
    color: white;
}

